{% load i18n %}
{% load currency_filters %}

<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="2UMWDTNE4BJJ6">
    <input type="hidden" name="lc" value="FR">
    <input type="hidden" name="item_name" value="Olivier shop">
    <input type="hidden" name="button_subtype" value="services">
    <input type="hidden" name="no_note" value="0">
    <input type="hidden" name="cn" value="Ajouter des instructions particulières pour le vendeur :">
    <input type="hidden" name="no_shipping" value="2">
    <input type="hidden" name="currency_code" value="EUR">
    <input type="hidden" name="tax_rate" value="10.000">
        {% if basket.is_tax_known %}
                <input type="hidden" name="amount" value="{{ basket.total_incl_tax|stringformat:"1.2f" }}">
        {% else %}
                <input type="hidden" name="amount" value="{{ basket.total_excl_tax|stringformat:"1.2f" }}">
        {% endif %}
    <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
    <input type="image" src="https://www.sandbox.paypal.com/fr_FR/FR/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
    <img alt="" border="0" src="https://www.sandbox.paypal.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
</form>
